[submodule "lib/gtirb"]
	path = lib/gtirb
	url = git@github.com:GrammaTech/gtirb.git
[submodule "lib/gts"]
	path = lib/gts
	url = git@github.com:UQ-PAC/gtirb-semantics.git
[submodule "lib/ocaml-cvc5"]
	path = lib/ocaml-cvc5
	url = git@github.com:formalsec/ocaml-cvc5.git
